# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

python-models/dataset_clothes
python-models/dataset_patterns

.DS_Store
*/.DS_Store

## Build generated
OOrion-Project-App/build/
OOrion-Project-App/DerivedData/


## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
OOrion-Project-App/xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
OOrion-Project-App/timeline.xctimeline
OOrion-Project-App/playground.xcworkspace

.build/


OOrion-Project-App/Carthage/Build


OOrion-Project-App/fastlane/report.xml
OOrion-Project-App/fastlane/Preview.html
OOrion-Project-App/fastlane/screenshots/**/*.png
OOrion-Project-App/fastlane/test_output

OOrion-Project-App/Assets.xcassets/AppIcon.appiconset


